.button-section {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 50px 100px;
}

.heading {
    text-align: center;
}

button {
    font-size: 20px;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
}

.score {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 20px 50px;
   }

.score,
.results {
    width: 100%;
}

.results {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
   
}

.commentary {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 50px;
    margin: 0px 100px;
}