.button-section {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 50px 100px;
}

.heading {
    text-align: center;
}

button {
    font-size: 20px;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
}